html, body {
  height: auto;
  width: 100%;
  margin: 0; }

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4f0017;
  z-index: -10; }

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.shadows {
  font-family: "Shadows Into Light Two", sans-serif; }

.line {
  height: 0;
  border: 1px solid #c4c4c4;
  margin: 5px 0; }

.content {
  width: 50%;
  margin: 5% 25%;
  color: #c4c4c4; }
  .content .title {
    font-size: 3em; }
  .content .subtitle {
    margin-bottom: 2%;
    font-size: 1.75em; }
  .content .post-container {
    margin-top: 2%;
    margin-bottom: 20px; }
    .content .post-container .post {
      border: 1px solid #c4c4c4;
      padding: 1% 2% 2% 2%;
      margin-bottom: 5%; }
      .content .post-container .post .post-title {
        font-size: 1.5em;
        display: inline-block; }
      .content .post-container .post .post-date {
        font-size: 1.2em;
        font-style: italic;
        display: inline-block;
        margin-top: 8px; }
      .content .post-container .post .post-text {
        margin-top: 15px;
        text-align: justify; }
  .content .button-container {
    width: 100%;
    text-align: center; }
    .content .button-container button {
      border: none;
      border-radius: 0;
      background: none;
      color: #c4c4c4;
      width: 60px;
      transition: all 300ms ease; }
    .content .button-container button:hover {
      color: #4f0017;
      background: #c4c4c4; }
      